@use "text";

button {
  all: unset;
}

.btn {
  padding: 8px 24px;
  border-radius: 4px;

  @include text.Button;
  @include text.Bold;

  @media screen and (max-width: 468px) {
    padding: 8px 10px;
  }
}

.btn-lg {
  padding: 14px 24px;
  border-radius: 8px;
  @include text.H6;

  @media screen and (max-width: 767px) {
    padding: 10px 16px;
  }
}

.btn-text {
  color: var(--secondary-color);
}

.btn-primary {
  color: white;
  background-color: var(--primary-color);
}

.btn-primary:hover {
  color: white;
  background-color: var(--primary-dark);
}

.btn-secondary {
  color: var(--secondary-color);
  background-color: white;
  border: 2px solid var(--secondary-light);
}

.btn-secondary:hover {
  color: var(--secondary-dark);
  background-color: white;
  border: 2px solid var(--secondary-light);
}
