h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--primary-dark);
}

@mixin H2 {
  font-size: 60px;
  line-height: 4.5rem;

  @media screen and (max-width: 767px) {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

@mixin H3 {
  font-size: 3rem;
  line-height: 3.5rem;

  @media screen and (max-width: 767px) {
    font-size: 2.125rem;
    line-height: 2.75rem;
  }
}

@mixin H4 {
  font-size: 2.125rem;
  line-height: 2.75rem;

  @media screen and (max-width: 767px) {
    font-size: 1.625rem;
    line-height: 2rem;
  }
}

@mixin H5 {
  font-size: 1.625rem;
  line-height: 2rem;

  @media screen and (max-width: 767px) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@mixin H6 {
  font-size: 1.25rem;
  line-height: 1.75rem;

  @media screen and (max-width: 767px) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@mixin Body1 {
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin Body2 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@mixin Caption {
  font-size: 0.75rem;
  line-height: 1rem;
}

@mixin Subtitle1 {
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin Button {
  font-size: 0.875rem;
  line-height: 20px;
}

@mixin Bold {
  font-weight: 700;
}

@mixin SemiBold {
  font-weight: 600;
}

@mixin Medium {
  font-weight: 500;
}

@mixin Regular {
  font-weight: 400;
}

@mixin Primary {
  font-family: var(--primary-font-family);
}

@mixin Secondary {
  font-family: var(--secondary-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include Secondary;
}
