.container {
  max-width: 1224px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    padding-left: 54px;
    padding-right: 88px;
  }

  @media (max-width: 467px) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.hr-center {
  margin: 0 auto;
}
