.container {
  max-width: 1224px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    padding: 0px 54px;
  }

  @media (max-width: 467px) {
    padding: 0 12px;
  }
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.hr-center {
  margin: 0 auto;
}
